<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config SYSTEM "http://www.matsim.org/files/dtd/config_v2.dtd">
<config>
	<module name="OsmConverter">
		<!-- Sets whether the detailed geometry of the roads should be retained in the conversion or not.
		Keeping the detailed paths results in a much higher number of nodes and links in the resulting MATSim network.
		Not keeping the detailed paths removes all nodes where only one road passes through, thus only real intersections
		or branchings are kept as nodes. This reduces the number of nodes and links in the network, but can in some rare
		cases generate extremely long links (e.g. for motorways with only a few ramps every few kilometers).
		Defaults to <code>false</code>. -->
		<param name="keepPaths" value="false" />
		<!-- If true: The osm tags for ways and containing relations are saved as link attributes in the network.
		Increases filesize. Default: true. -->
		<param name="keepTagsAsAttributes" value="true" />
		<!-- Keep all ways (highway=* and railway=*) with public transit even if they don't have wayDefaultParams defined -->
		<param name="keepWaysWithPublicTransit" value="true" />
		<param name="maxLinkLength" value="500.0" />
		<!-- The path to the osm file. -->
		<param name="osmFile" value="data/network.osm.bz2" />
		<!-- Output coordinate system. EPSG:* codes are supported and recommended.
		Use 'WGS84' for no transformation (though this may lead to errors with PT mapping). -->
		<param name="outputCoordinateSystem" value="EPSG:3857" />
		<!-- CSV file containing the full geometry (including start end end node) for each link.
		This file can be used for visualization purposes in Simunto Via or GIS software. -->
		<param name="outputDetailedLinkGeometryFile" value="null" />
		<param name="outputNetworkFile" value="data/network.xml" />
		<!-- If true: OSM turn restrictions are parsed and written as disallowedNextLinks attribute to the first link. -->
		<param name="parseTurnRestrictions" value="false" />
		<!-- In case the speed limit allowed does not represent the speed a vehicle can actually realize, 
		e.g. by constrains of traffic lights not explicitly modeled, a kind of "average simulated speed" can be used.
		Defaults to false. Set true to scale the speed limit down by the value specified by the wayDefaultParams) -->
		<param name="scaleMaxSpeed" value="false" />
		<parameterset type="routableSubnetwork">
			<param name="allowedTransportModes" value="car" />
			<param name="subnetworkMode" value="car" />
		</parameterset>
		<parameterset type="routableSubnetwork">
			<param name="allowedTransportModes" value="bus,car" />
			<param name="subnetworkMode" value="bus" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="33.333333333333336" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="2000.0" />
			<param name="lanes" value="2.0" />
			<param name="oneway" value="true" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="motorway" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="22.22222222222222" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="1500.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="true" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="motorway_link" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="22.22222222222222" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="2000.0" />
			<param name="lanes" value="2.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="trunk" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="13.88888888888889" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="1500.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="trunk_link" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="22.22222222222222" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="1500.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="primary" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="16.666666666666668" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="1500.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="primary_link" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="8.333333333333334" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="1000.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="secondary" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="8.333333333333334" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="1000.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="secondary_link" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="6.944444444444445" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="600.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="tertiary" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="6.944444444444445" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="600.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="tertiary_link" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="6.944444444444445" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="600.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="unclassified" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="4.166666666666667" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="600.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="residential" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="car" />
			<param name="freespeed" value="2.7777777777777777" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="300.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="highway" />
			<param name="osmValue" value="living_street" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="rail" />
			<param name="freespeed" value="44.44444444444444" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="9999.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="railway" />
			<param name="osmValue" value="rail" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="rail" />
			<param name="freespeed" value="11.11111111111111" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="9999.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="true" />
			<param name="osmKey" value="railway" />
			<param name="osmValue" value="tram" />
		</parameterset>
		<parameterset type="wayDefaultParams">
			<param name="allowedTransportModes" value="rail" />
			<param name="freespeed" value="22.22222222222222" />
			<param name="freespeedFactor" value="1.0" />
			<param name="laneCapacity" value="9999.0" />
			<param name="lanes" value="1.0" />
			<param name="oneway" value="false" />
			<param name="osmKey" value="railway" />
			<param name="osmValue" value="light_rail" />
		</parameterset>
	</module>
	<module name="PublicTransitMapping">
		<!-- After nLinkThreshold link candidates have been found, additional link 
		candidates within [candidateDistanceMultiplier] * [distance to the Nth link] are added to the set.
		Must be >= 1. -->
		<param name="candidateDistanceMultiplier" value="1.6" />
		<!-- Path to the input network file. Not needed if PTMapper is called within another class. -->
		<param name="inputNetworkFile" value="data/network.xml" />
		<!-- Path to the input schedule file. Not needed if PTMapper is called within another class. -->
		<param name="inputScheduleFile" value="data/schedule_unmapped.xml.gz" />
		<!-- The maximal distance [meter] a link candidate is allowed to have from the stop facility.
		No link candidates beyond this distance are added. -->
		<param name="maxLinkCandidateDistance" value="90.0" />
		<!-- If all paths between two stops have a [travelCost] > [maxTravelCostFactor] * [minTravelCost], 
		an artificial link is created. If travelCostType is travelTime, minTravelCost is the travel time
		between stops from the schedule. If travelCostType is 
		linkLength minTravel cost is the beeline distance. -->
		<param name="maxTravelCostFactor" value="5.0" />
		<!-- All links that do not have a transit route on them are removed, except the ones 
		listed in this set (typically only car). Separated by comma. -->
		<param name="modesToKeepOnCleanUp" value="car" />
		<!-- Number of link candidates considered for all stops, depends on accuracy of stops and desired 
		performance. Somewhere between 4 and 10 seems reasonable for bus stops, depending on the
		accuracy of the stop facility coordinates and performance desires. Default: 6 -->
		<param name="nLinkThreshold" value="6" />
		<!-- Defines the number of numOfThreads that should be used for pseudoRouting. Default: 2. -->
		<param name="numOfThreads" value="2" />
		<!-- Path to the output network file. Not needed if PTMapper is used within another class. -->
		<param name="outputNetworkFile" value="data/network_mapped.xml.gz" />
		<!-- Path to the output schedule file. Not needed if PTMapper is used within another class. -->
		<param name="outputScheduleFile" value="data/schedule_mapped.xml.gz" />
		<!-- Path to the output car only network file. The input multimodal map is filtered. 
		Not needed if PTMapper is used within another class. -->
		<param name="outputStreetNetworkFile" value="data/network_mapped_car.xml.gz" />
		<!-- If true, stop facilities that are not used by any transit route are removed from the schedule. Default: true -->
		<param name="removeNotUsedStopFacilities" value="true" />
		<!-- The travel cost of a link candidate can be increased according to its distance to the
		stop facility x2. This tends to give more accurate results. If travelCostType is travelTime, freespeed on 
		the link is applied to the beeline distance. -->
		<param name="routingWithCandidateDistance" value="true" />
		<!-- After the schedule has been mapped, the free speed of links can be set according to the necessary travel 
		times given by the transit schedule. The freespeed of a link is set to the minimal value needed by all 
		transit routes passing using it. This is recommended for "artificial", additional 
		modes (especially "rail", if used) can be added, separated by commas. -->
		<param name="scheduleFreespeedModes" value="artificial" />
		<!-- Defines which link attribute should be used for routing. Possible values "linkLength" (default) 
		and "travelTime". -->
		<param name="travelCostType" value="linkLength" />
		<parameterset type="transportModeAssignment">
			<!-- Transit Routes with the given scheduleMode can only use links with at least one of the network modes
			defined here. Separate multiple modes by comma. If no network modes are defined, the transit route will
			use artificial links. -->
			<param name="networkModes" value="car,bus" />
			<param name="scheduleMode" value="bus" />
		</parameterset>
		<parameterset type="transportModeAssignment">
			<param name="networkModes" value="rail,light_rail" />
			<param name="scheduleMode" value="rail" />
		</parameterset>
	</module>

</config>